<%=render 'layouts/navbar'%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tmpdatabasae.name %>
</p>

<%= link_to 'Edit', edit_tmpdatabasae_path(@tmpdatabasae) %> |
<%= link_to 'Back', tmpdatabasaes_path %>
